* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.navbar{
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.logo{
    margin-left: 10%;
    flex: 20%;
    /*border: 1px solid rgb(0, 0, 0);*/
    text-align: center; 
}

.logo h1{
    font-family: 'Lobster', cursive;
    color: #806fe5;
    font-size: 30px;

}
.menu{
    flex: 70%;
   /* border: 1px solid rgb(255, 0, 0); */
    text-align: right;
    padding: 20px;
}

.menu a{
    color: #806fe5;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
}

.menu a:hover{
    color: #ff8695;
    border-top: 4px solid #806fe5;
}

#botao{
    background-color: #806fe5;
    color: aliceblue;
    padding: 10px 25px;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 10%;
}

#botao:hover{
    background-color: #ff8695;
    border: none;
}

.cabecalho{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    height: auto;
    background-color: rgb(255, 255, 255);
}

.headerline h2{
    color: #806fe5;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.headerline p{
    color: gray;
    text-align: left;
}

.contact-btn{
    display: inline-block;
    text-decoration: none;
    background-color: #ff8695;
    color: aliceblue;
    padding: 20px;
    border-radius: 5px;
    text-transform: uppercase;
}

.contact-btn:hover{
    background-color: #806fe5;
}

.headerline{
    flex: 40%;
    margin-left: 10%;
    /*border: 1px solid green;*/
}

.img-headerline{
    flex: 40%;
    margin-right: 10%;
    /*border: 1px solid blue;*/
    text-align: center;
}

section{
    background-color: rgb(255, 255, 255);
    /*border: 1px solid blanchedalmond;*/
    margin-top: 60px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    padding: 5%;
    width: 90%;
}

section h2{
    width: 100%;
    margin: 0;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    color: #806fe5;
}

.servicos{
    display: inline-block;
    margin-top: 5%;
}

.card{
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border:1px solid #ff8695;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor:pointer;
}

.card:hover{
    background-color: #ff8695;
    padding: 40px;
    color: white;
}

.card:hover img{
    display: none;
}

.card:hover .card-text{
    display: none;
}

.card:hover .text-oculto{
    display: block;
}

.text-oculto{
    display: none;
}

footer{
    margin-top: 100px;
    height: 400px;
    background-image: linear-gradient(180deg, #332c5e, #211c3f,rgb(0, 0, 0));
    text-align: center;
    border-top:5px solid #ff8695;
}

.logo-rodape{
    padding: 100px;
}

.logo2{
    font-family: 'Lobster', cursive;
    color: #ffffff;
    font-size: 34px;
}