@media screen and (max-width: 1200px){

.navbar{
    position: relative;
}

.menu{
    display: none;
}

.logo{
    margin: 0;
    text-align: center;
}

.header{
    padding-top: 50px;
}

.headerline{
    text-align: center;
    flex: 100%;
    margin: 5%;
}

.headerline p{
    text-align: center;
}

.headerline img{
    flex: 100%;
    margin: 5%;
    text-align: center;
}

.card{
    width: 100%;
}

}
    